<h1>Show Video</h1>

<ul>

  <li>
    <strong>":</strong>
    <%= @video."" %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.video_path(@conn, :edit, @video) %></span> |
<span><%= link "Back", to: Routes.video_path(@conn, :index) %></span>
